.Title{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;  
}
.Main {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
    padding: 30px 0;
}
.EmptyFavorites {
    text-align: center;
    font-size: 300px;
}