.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 480px) {
      display: block;
    }
}
.Title{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    @media (max-width: 480px) {
        text-align: center;
        font-size: 16px;
    }  
}
.HeaderIcon {
    font-size: 30px;
    cursor: pointer;
    transition: .3s all;
    @media (max-width: 480px) {
        display: none;        
    }
}
.HeaderIconRotate {
    font-size: 30px;
    cursor: pointer;
    transition: .3s all;
    transform: rotate(90deg);
    @media (max-width: 480px) {
        display: none;        
    }
}
.Main {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
    padding: 30px 0px;
    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));    
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));    
    }
    @media (max-width: 480px) {
        grid-template-columns: repeat(1, minmax(150px, 1fr));    
        padding: 30px 15px;
    }
}
.MainCardLine {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    gap: 20px;
    padding: 30px 0;
}
.EmptyFavorites {
    margin-top: 15px;
    text-align: center;
    font-size: 300px;
    @media (max-width: 480px) {
        font-size: 200px;
    }
}