.BottomMenu {
  z-index: 200;
  background: #51ad33;
  transform: translateY(0px);
  transition: all 1s ease 0s;
  &_fixed {
    z-index: 200;
    position: fixed;
    left: 0;
    top: -70px;
    width: 100%;
    transform: translateY(70px);
    transition: all 0.5s ease 0s;
    background: #51ad33;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    p.HeaderCartCounter {
      background: rgb(255, 49, 49);
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.493);
    }
  }
}
.BottomMenuWrapp {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.BottomUl {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 auto;
}

.BottomLink {
  position: relative;
  height: 100%;
  min-width: 80px;
  max-width: 250px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  transition: all 0.1s ease 0s;
  cursor: pointer;
  &:hover {
    background: #368e1a;
  }
}
.bottomLinks {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
}
.BurgerIcon {
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  &:hover {
    color: rgb(48, 107, 0);
  }
}
.cartIconFixed {
  position: relative;
  color: rgb(255, 255, 255);
  margin-right: 15px;
  margin-top: 5px;
  &:hover {
    color: rgb(48, 107, 0);
  }
}
.favoriteIcon {
  position: relative;
  color: rgb(255, 255, 255);
  &:hover {
    color: rgb(48, 107, 0);
  }
}
.cartIcon {
  position: relative;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  &:hover {
    color: rgb(48, 107, 0);
  }
}
.cartIconCounter,
.favoriteIconCounter {
  position: absolute;
  top: 1px;
  left: 20px;
  padding: 2px 4px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.mobiileMenuWrapper {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  &:hover {
    color: rgb(48, 107, 0);
  }
}
@media screen and (max-width: 768px) {
  .cartIconFixed {
    display: none;
  }
  .BottomMenuWrapp {
    justify-content: center;
    padding: 10px;
  }
  .mobiileMenuWrapper {
    display: flex;
  }
  .BurgerIcon {
    display: flex;
    cursor: pointer;
  }
  .BottomUl {
    display: none;
    flex-direction: column;
    height: auto;
  }
  .BottomLink {
    min-height: 40px;
  }
}

