.ProductsSorting {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 25px;
  @media (max-width: 650px) {
   display: block;
    align-items: left;
  }
}
.ProductsSortingLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 650px) {
    margin-bottom: 10px;
   }
}
.NumberOf {
  font-size: 14px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;
}
.Show {
  font-size: 14px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  margin-right: 20px;
}
.SelectAmount {
  margin-left: 10px;
  border: 1px solid #e5e5e5;
  color: #6f6f6f;
  padding: 5px;
  cursor: pointer;
  @media (max-width: 868px) {
    margin-left: 0;
  }
}
.SelectPrice {
  margin-left: 10px;
  border: 1px solid #e5e5e5;
  color: #6f6f6f;
  padding: 5px;
  cursor: pointer;
  @media (max-width: 868px) {
    margin-left: 0;
  }
}

.ProductsSortingRight {
  span {
    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
  }
}

.SwitchIcon {
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s all;
  position: absolute;
  right: 0;
  @media (max-width: 768px) {
    right: 65px;
  }
  @media (max-width: 650px) {
    top: 40px;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.SwitchIconRotate {
  font-size: 30px;
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.3s all;
  position: absolute;
  right: 0;
  @media (max-width: 768px) {
    right: 65px;
  }
  @media (max-width: 650px) {
    top: 40px;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
