.swiper-container-3 {
  :root {
    --swiper-navigation-size: none;
  }
  .swiper-container {
    width: 1300px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 9px;
    height: 9px;
    color: white;
    padding: 20px;
    background-color: #c2cddd;
  }
  .swiper-slide {
    margin: 3px;
  }
  .swiper-button-prev {
    left: 0px;
  }
  .swiper-button-next {
    right: 0px;
  }
}
