.PopularContainer {
  max-width: 1200px;
  margin: 60px auto 0;
  @media (max-width: 1200px) {
    max-width: 1200px;
    min-width: 1020px;
    margin-right: 5px;
    margin-left: 5px;
  }
  @media (max-width: 1024px) {
    max-width: 1020px;
    min-width: 760px;
    margin-right: 5px;
    margin-left: 5px;
  }
  @media (max-width: 768px) {
    max-width: 760px;
    min-width: 470px;
    margin-right: 5px;
    margin-left: 5px;
  }

  @media (max-width: 480px) {
    max-width: 480px;
    min-width: 300px;
  }
}
.PopularModelsSlider {
  margin: 50px auto;
}
.test5 .swiper-button-next {
  position: absolute;
  top: 100px;
  left: 0;
  cursor: pointer;
}


