.LoaderWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.ProductCard {
  position: relative;
  width: 100%;
  padding: 10px 10px 15px 10px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 10px 0.1px #b5bac0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.3s ease 0s;
  &:hover {
    box-shadow: 0px 0px 10px 0.5px #51ad33;
    transform: scale(1.02);
    z-index: 90;
  }
  @media (max-width: 768px) {
    max-width: 200px;
  }
}
.ProductCardImgLink {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.ProductCardImg {
  padding: 30px 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
  flex: 1 1 auto;
  @media (max-width: 480px) {
    padding: 10px 5px;
  }
  img {
    max-width: 200px;
    @media (max-width: 768px) {
      max-width: 150px;
    }
    @media (max-width: 480px) {
      max-width: 100px;
    }
  }
}
.ProductCardImgHitSale {
  position: absolute;
  top: -5px;
  left: 0;
  background-color: #51ad33;
  padding: 4px 20px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 14px 7px;
    border-color: transparent transparent transparent #ffffff;
  }
  @media (max-width: 480px) {
    padding: 4px 10px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
  }
}

.ProductCardName {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px;
  color: #000000;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 12px;
    line-height: 16px;
    min-height: 30px;
  }
}
.ProductCardPriceAndIconCartAndFavorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 480px) {
    display: block;
  }
}
.ProductCardOldPrice {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  color: #677283;
  text-decoration: line-through;
}
.ProductCardNewPrice,
.ProductCardPrice {
  font-size: 21px;
  line-height: 35px;
  font-weight: 700;
  color: #e91e49;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
}
.ProductCardPrice {
  color: #000;
}
.ProductCardIconCart {
  background-color: #fff;
  padding: 2px 4px;
  color: #51ad33;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  position: relative;
  &:hover {
    background-color: #e91e49;
  }
  span {
    position: absolute;
    left: 10px;
    top: -24px;
    z-index: 10px;
    @media (max-width: 480px) {
      left: 30px;
      top: 0px;
    }
  }
}
.ProductCard:hover .ProductCardIconCart {
  background-color: #51ad33;
  span {
    color: #51ad33;
  }
  color: #fff;
  &:hover {
    background-color: #368e1a;
  }
}
.ProductCardInStock,
.ProductCardIsExpected {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
}
.ProductCardIsExpected {
  color: #e91e49;
}
.ProductCardInStock {
  color: #51ad33;
}
.ProductCardInfo {
  margin-top: 60px;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  display: none;
}
.ProductCard:hover .ProductCardInfo {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 10px 10px 0.1px #51ad33;
  top: 305px;
  left: 0px;
  background-color: #fff;
  @media (max-width: 1024px) {
    display: none;
  }
}
.ProductCardOldPriceSpace {
  font-size: 14px;
  line-height: 5px;
}
.ProductFavorite {
  margin-left: 60px;
  font-size: 26px;
  color: #51ad33;
  cursor: pointer;
  position: relative;
  @media (max-width: 480px) {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
  }
}
.ProductFavoriteTransparent {
  position: relative;
  &:hover::after {
    font-size: 14px;
    position: absolute;
    content: 'Добавить в избранное';
    top: -30px;
    left: -100px;
    color: #fff;
    background-color: green;
    padding: 5px;
    width: 157px;
    border-radius: 5px;
    @media (max-width: 480px) {
      display: none;
    }
  }
}
.ProductFavoriteColor {
  position: relative;
  &:hover::after {
    font-size: 14px;
    position: absolute;
    content: 'Удалить из избранного';
    top: -30px;
    left: -100px;
    color: #fff;
    background-color: green;
    padding: 5px;
    width: 165px;
    border-radius: 5px;
    @media (max-width: 480px) {
      display: none;
    }
  }
}
