.formBlock {
  background: rgb(230, 230, 230);
  min-width: 600px;
  padding: 30px;
  &.create {
    min-width: 100%;
  }
}
.form-name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.inputWrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-btn-group {
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    margin-top: 300px;
  }
}
.loaderWrapp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
