.ProductsPageWrapper {
  background: rgb(255, 255, 255);
}
.ProductsBlock {
  width: 100%;
}
.ProductsContainer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
}
.showFiltersBtn {
  display: none;
  visibility: hidden;
  position: fixed;
  right: 20px;
  top: 108px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #fff;
  background: rgba(99, 204, 0, 0.5);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  z-index: 200;
  transform: translateX(0);
  transition: all 0.7s ease 0s;
  &_hidden {
    transform: translateX(80px);
  }
}
.filtersOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
  &_active {
    visibility: visible;
    opacity: 1;
  }
}
.filtersContainerMobile {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  padding: 20px 20px 30px 50px;
  transition: all 0.3s ease 0s;
  transform: translateX(-100%);
  z-index: 100;
  height: 100%;
  overflow-y: scroll;
  &_active {
    transform: translateX(0);
  }
}
.filtersCloseBtn {
  position: absolute;
  right: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: rgb(90, 90, 90);
  cursor: pointer;
}
.PrductsFieldLoader {
  position: absolute;
  left: 60%;
  top: 25%;
}
// =================================================================
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .filterContainer {
    display: none;
  }
  .showFiltersBtn {
    visibility: visible;
    display: flex;
  }
  .filtersOverlay {
    display: block;
  }
}
@media (max-width: 480px) {
  .filtersContainerMobile {
    width: 100%;
  }
}
