.Breadcrumbs {
  padding: 20px 0px;
  max-width: 100%;
  @media (max-width: 768px) {
    margin-left: 30px;
  }
  @media (max-width: 480px) {
    margin-left: 10px;
  }
}
.Link {
  position: relative;
  padding-right: 40px;
  a {
    font-size: 14px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    color: #000;
  }
  &::after {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      margin-right: 60px;
      transform: rotate(45deg);
      top: 8px;
      right: -40px;
  }
} 
.Span {
  font-size: 14px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  color: #7D7D7D;
}

