.ProductsField {
  display: flex;
  flex-direction: column;
  width: 100%;
  // flex: 1 1 auto;
  margin-left: 30px;
  // border: 1px solid #000;
}
.ProductsFieldGridWrapp {
  // border: 1px solid rgb(255, 110, 110);
  flex: 1 1 auto;
}

.ProductsFieldGrid {
  // flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 3px;
}
.ProductsFieldLine {
  // flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(150px, 1fr));
  grid-row-gap: 10px;
}
@media (max-width: 1024px) {
  .ProductsFieldGrid {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
@media (max-width: 768px) {
  .ProductsFieldGrid {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .ProductsField {
    margin: 0px auto;
  }
}
@media (max-width: 480px) {
  .ProductsFieldGrid {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}
