.TextInputGroup {
  position: relative;
  display: flex;
  // border: 1px solid rgb(119, 0, 255);
  // border-bottom: 1px solid #000;
  padding-bottom: 10px;
  // max-width: 400px;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 10px;
}
.textInputLabel {
  flex: 1 1 20%;
  font-size: 14px;
  margin-bottom: 4px;
  color: rgb(42, 42, 42);
  // border: 1px solid #000;
  margin-right: 10px;
  display: inline-block;
}
.textInput {
  flex: 1 1 80%;
  border: 1px solid rgb(175, 175, 175);
  height: 30px;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
}
.isInvalid {
  background: rgb(255, 223, 223);
  border: 1px solid rgb(255, 82, 82);
}
.Valid {
  border: 1px solid rgb(0, 167, 28);
  background: rgb(196, 255, 199);
}
.textInputError {
  position: absolute;
  right: 8px;
  bottom: 15px;
  color: rgb(255, 0, 0);
  font-size: 12px;
}
