// .DiscountSlider {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: rgb(131, 131, 131);
//   height: 800px;
//   width: 1280px;
// }
.Sale {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'slider slider img1'
    'slider  slider img2'
    'img3 img4 img5';
  grid-column-gap: 15px;
}

.slider {
  grid-area: slider;
}
.img1 {
  grid-area: img1;
  background-color: #000;
  width: 300px;
}
.img2 {
  grid-area: img2;
  background-color: #fff;
  max-width: 380px;
}
.img3 {
  grid-area: img3;
  background-color: #3a961c;
  max-width: 380px;
  height: 200px;
}
.img4 {
  grid-area: img4;
  background-color: #1e2936;
  max-width: 380px;
  height: 200px;
}
.img5 {
  grid-area: img5;
  background-color: #df2725;
  height: 200px;
}
