.PageContainer {
  width: 100%;
}

.ErrorPage {
  // height: 60vh;
  padding: 70px 0;
  text-align: center;
  h2 {
    margin-top: 5vh;
    color: #51ad33;
    font-size: 30px;
  }
  p {
    margin-top: 30px;
  }
}
.ErrorPageButton {
  max-width: 210px;
  margin: 0 auto;
}
