.PageContainer {
  width: 100%;
}
.ShopsWrapper {
  padding: 20px 0;
}
.ShopsTitle {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.ShopsSubTitle {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  color: #51ad33;
  height: auto;
}
.Line {
  margin-top: 10px;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #f5f6f6;
  border-left: 0;
  border-right: 0;
}
.ShopsWorkTime {
  margin-top: 10px;
  font-size: 12px;
  color: #737574;
  span {
    color: #303030;
  }
}
.ShopsPhone {
  margin-top: 10px;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: bold;
}
.ShopsAddress {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #302e2f;
  line-height: 23px;
}
.ShopsMap {
  margin-top: 15px;
  a {
    color: #51ad33;
  }
}

.Credit {
  text-align: left;
}
.CreditWrapper {
  margin: 20px 0;
}
.CreditBank {
  a {
    font-size: 20px;
    line-height: 22px;
    color: #323433;
    font-weight: bold;
  }
}
.CreditTitle {
  font-size: 30px;
  margin: 20px 0;
}
.CreditBankName {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
  color: #51ad33;
  height: auto;
}
.CreditInstallment {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}
.CreditInstallmentList {
  margin-top: 10px;
  li {
    font-size: 16px;
    line-height: 20px;
  }
}
.ErrorPage {
  // height: 60vh;
  padding: 70px 0;
  text-align: center;
  h2 {
    margin-top: 5vh;
    color: #51ad33;
    font-size: 30px;
  }
  p {
    margin-top: 30px;
  }
}
.ErrorPageButton {
  max-width: 210px;
  margin: 0 auto;
}
