.createWrapper {
  width: 100%;
  // background: rgb(214, 214, 214);
}
.FormBody {
  background: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.FormBodyTitle {
  font-size: 22px;
  margin-bottom: 10px;
}
.productInputsWrapper {
  // border: 1px solid rgb(180, 33, 33);
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}
.productInputsGroup {
  display: flex;
  margin: 0 -5px;
}
