.OrdersWrapper {
  padding-left: 30px;
  position: relative;
}
.loaderWrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 40px;
  text-align: center;
  height: 40px;
  background-color: rgba(247, 245, 246, 1);
  justify-content: space-evenly;
  align-items: center;
}
.NoOrders {
  display: none;
}
.NoOrdersActive {
  display: block;
  text-align: center;
  width: 100%;
  h2 {
    margin-top: 50px;
    color: #51ad33;
    font-size: 20px;
  }
  .Emoji {
    margin-top: 20px;
    font-size: 70px;
    color: #51ad33;
  }
}
