.ProfileBlock {
  margin-bottom: 50px;
  // background: rgb(241, 241, 241);
}
.header {
  height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  padding-top: 20px;
}
.content {
  display: flex;
}
.edit_Prpfile_Wrapper {
  margin-left: 160px;
  h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 27px;
  }
}
.btnBlock {
  flex: 1 1 15%;
}
.btnProfile {
  width: 100%;
  min-height: 65px;
  background: #f5f5f5;
  border-bottom: 1px solid rgb(207, 207, 207);
  font-size: 16px;
  transition: all 0.1s ease 0s;
  cursor: pointer;
  &:hover {
    background: #dee5f0;
  }
  &_active {
    background: #c1c9d4;
  }
}
.optionContent {
  flex: 1 1 70%;
  background: rgb(255, 255, 255);
}
.formWrapper {
}
.inputsWrapper {
  height: 220px;
  // border: 3px solid rgb(0, 160, 35);
  // background: rgb(0, 135, 189);
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, 1fr));
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-column-gap: 80px;
  grid-auto-flow: column;
  margin-bottom: 40px;
}
.Password {
  position: relative;
  margin-bottom: 30px;
}
.PasswordIcon {
  position: absolute;
  top: 30px;
  right: 10px;
}
.avatarBlock {
  // border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatarBlockTitle {
  color: rgb(98, 98, 98);
  margin-bottom: 4px;
}
.previewAvatar {
  border: 2px solid rgb(156, 156, 156);
  border-radius: 50%;
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(189, 189, 189);
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.previewAvatarIcon {
  color: #fff;
  font-size: 40px;
}
.fileInput {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
.fileInputLabel {
  position: relative;
  padding: 10px 15px 10px 35px;
  font-size: 14px;
  background: rgb(216, 216, 216);
  cursor: pointer;
  transition: all 0.2s ease 0s;
  border-radius: 4px;
  &:hover {
    background: rgb(200, 200, 200);
  }
}
.fileSelectIcon {
  font-size: 25px;
  position: absolute;
  left: 0px;
  top: 50%;
  color: rgb(88, 88, 88);
  transform: translateY(-50%);
}
