.profile-input-label-group {
  position: relative;
  display: flex;
  flex-direction: column;
  // border: 1px solid rgb(119, 0, 255);
  max-width: 400px;
}
.profile-input-label {
  margin-bottom: 4px;
  color: rgb(109, 109, 109);
}
.profile-input {
  border: 1px solid rgb(175, 175, 175);
  height: 40px;
  // width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.is-invalid {
  background: rgb(255, 181, 181);
}
.valid {
  border: 1px solid rgb(0, 167, 28);
  background: rgb(178, 255, 182);
}
.profile-input-error {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(255, 0, 0);
}
