.Popup {
    position: fixed;
    max-width: 300px;
    background-color: #e91e49;;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    transition: margin .4s;
    visibility: hidden;
    opacity: 0;
    margin-top: 0%;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    @media (max-width: 480px) {
        text-align: center;
    }
}
.Popup_popupIsOpen {
    visibility: visible;
    opacity: 1;
    margin-top: 1%;
}