.FormBlock {
  //   border: 1px solid #000;
  margin-bottom: 30px;
}
.FormBlockTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  p {
    font-size: 12px;
    line-height: 12px;
    color: #838080;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
  }
}
.ContactDetailsFormBlock {
  margin-top: 33px;
}
.ContactDetailsField {
  margin-top: 17px;
  label {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  input {
    margin-top: 5px;
    border: 1px solid #d3d7da;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    &:focus {
      box-shadow: 0px 0px 5px 1px #d3d7da;
    }
  }
}
.Error {
  color: red;
  margin-top: 2px;
}
