.SingleProductBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: rgb(230, 230, 230);
}
.btnBlock {
  margin-top: 100px;
}
