.Wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-column-gap: 100px;
  align-items: center;
  @media (max-width: 1024px) {
    grid-column-gap: 10px; 
    grid-row-gap: 100px; 
    grid-template-columns: 1fr;
  }
  @media (max-width: 768px) {
    padding-left: 10px;
  }
}
.SliderBlockText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  @media(max-width: 480px) {
    display: block;
  }
  h2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    @media(max-width: 768px) {
      font-size: 20px;
      line-height: 22px;
    }
  }
  p {
    font-size: 14px;
    line-height: 26px;
    background-color: #f7f5f6;
    padding: 7px 13px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    @media(max-width: 768px) {
      line-height: 16px;
      padding: 5px;
      margin-left: 0px;
      max-width: 150px;
      margin-top: 10px;
    }
  }
}
