.BottomMenu {
  background: #51ad33;
  width: 100%;
}
.BottomMenuWrapp {
  height: 100%;
}
.BottomUl {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BottomLink {
  position: relative;
  height: 100%;
  min-width: 50px;
  // padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  transition: all 0.1s ease 0s;
  a {
    color: #fff;
    font-size: 14px;
  }
  &:hover {
    background: #368e1a;
  }
}
@media (max-width: 950px) {
  .BottomUl {
    flex-direction: column;
    height: auto;
  }
  .BottomLink {
    min-height: 40px;
  }
}
