.SearchFormWrapper {
  flex: 1 1 auto;
  position: relative;
}

.searchFormWrapper {
  border: 1px solid #e7e9eb;
  border-radius: 18px;
  padding: 3px 3px 3px 10px;
  display: flex;
  flex: 1 1 auto;
  margin: 0 20px;
  background: #fff;
}
.searchForm {
  display: flex;
  width: 100%;
  position: relative;
}
.Autocomplete {
  position: absolute;
  left: 5px;
  top: 33px;
  width: 90%;
  background-color: #fff;
  z-index: 1000;
  max-height: 240px;
  height: auto;
  overflow: auto;
  border-bottom: 2px solid #e7e9eb;
  border-left: 2px solid #e7e9eb;
  border-right: 2px solid #e7e9eb;
  @media (max-width: 768px) {
   border-bottom: 1px solid #e7e9eb;
   border-left: 1px solid #e7e9eb;
   border-right: 1px solid #e7e9eb;
  }
}
.AutocompleteItem {
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(235, 228, 228);
    transition: cubic-bezier(1, 0, 0, 1) .3s all;
  }
  @media (max-width: 768px) {
  font-size: 18px;
  }
}
.searchInput {
  height: 30px;
  outline: none;
  width: 100%;
  display: inline-block;
  border: none;
  padding: 5px 10px;
  &::placeholder {
    color: rgb(192, 192, 192);
  }
}
.searchButton {
  border-radius: 18px;
  border: none;
  outline: none;
  width: 33px;
  height: 30px;
  background: #c2c8d0;
  transition: all 0.2s ease 0s;

  &:hover {
    background: #adadad;
  }
}
.searchIcon {
  color: #fff;
  font-size: 12px;
  height: 12px;
  width: 10px;
}
.searchIconActive {
  color: #51ad33;
  border-radius: 50%;
}
@media (max-width: 950px) {
}

