.selectAreaWrapper {
  // border: 1px solid rgb(255, 138, 138);
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
  p {
    margin-right: 10px;
    flex: 1 1 20%;
    font-size: 14px;
  }
}
.selectArea {
  border: 1px solid rgb(170, 170, 170);
  border-radius: 3px;
  width: 100%;
  flex: 1 1 80%;
  min-height: 30px;
  padding: 8px;
  transition: all 0.2s ease 0s;
  // margin-right: 20px;
}
.textAreaLabel {
  font-size: 14px;
  flex: 1 1 20%;
}
.textAreaError {
  position: absolute;
  right: 8px;
  bottom: 15px;
  color: rgb(255, 0, 0);
  font-size: 12px;
}
.isInvalid {
  background: rgb(255, 223, 223);
  border: 1px solid rgb(255, 82, 82);
}
.Valid {
  border: 1px solid rgb(0, 167, 28);
  background: rgb(196, 255, 199);
}
