.ButtonTop {
   position: fixed; 
   width: 20px;
   right: 70px;
   bottom: 50px;
   height: 20px;
   font-size: 3rem;
   z-index: 1;
   cursor: pointer;
   color: #51ad33;
   &:hover {
    color: #368E1A; 
   }
}