.Footer {
  height: 320px;
  color: #fff;
  background-color: #000;
  padding-top: 65px;
  font-size: 12px;
}
.FooterCopyrightBefore {
  position: relative;
}
.FooterCopyrightBefore::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #5E5C5C;
  margin-left: 15%;
}
.FooterCopyrightText {
  text-align: center;
  padding-top: 53px;
}
.FooterGrid {
  justify-content: space-between;
  margin-left: 133px;
  margin-right: 147px;
}
.footerSubscribe {
  color: #fff;
}
.contactsLink {
  text-decoration: none;
  color: #fff;
}
.FooterInformationText {
  margin-bottom: 5px;
}
.FooterInformationInputLabel {
    font-size: 16px;
    margin-bottom: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 40px;
      width: 12px;
      height: 6px;
      background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
      background-size: contain;
      transition: transform 0.4s;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      cursor: text;
      &::after {
        display: none;
      }
    }
}
.icons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 32px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 10px;
}
.input {
  border: none;
  margin-left: 18px;
}
.button {
  margin-left: 75px;
  margin-top: 2px;
  background-color: #51ad33;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease 0s;
}
.selectIcon {
  padding-top: 4px;
  padding-left: 2, 75px;
  color: #fff;
}
.footerText {
  margin-top: 75px;
}
.footerSubscribeIcon {
  width: 120px;
  justify-content: space-between;
  padding-left: 15px;
}
.footerSubscribeTitle {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 25px;
  padding-top: 15px;
}
.contacts {
  padding-top: -5px;
}
.contactsText {
  margin-top: 20px;
}
.contactsTel {
  margin-top: 3px;
}
.contactsMail {
  margin-top: 17px;
}
@media screen and (max-width: 1200px) {
  .Footer {
    height: 320px;
  }
}
@media screen and (max-width: 1100px) {
  .Footer {
    height: 480px;
    padding-top: 5px;
  }
  .FooterGrid {
    display: flex;
    flex-direction: column;
  }
  .FooterCopyrightText {
    margin-top: 470px;
    padding-top: 15px;
    @media (max-width: 768px) {
      margin-top: 270px;
    }
  }
  .FooterCopyrightBefore {
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .FooterGrid {
    display: flex;
    flex-direction: column;
  }
  .Footer {
    min-height: 200px;
  }
}
@media screen and (max-width: 480px) {
  label::after {
    right: 60px;
  }
  .label {
    margin-left: -20px;
  }
}
.FooterInformation {
  color: #fff;
  margin-top: 30px;
}
.FooterInformationText {
  margin-bottom: 10px;
}
.FooterInformationInput {
  display: none;
  &:checked ~ div {
    display: block;
  }
  &:checked ~ label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
}
.FooterInformationLinkWrapper {
  padding: 10px 0 10px 10px;
  background: #000000;
  display: none;
  a {
    display: flex;
    flex-direction: column;
    outline: none;
    color: #fff;
  }
  @media (min-width: 768px) {
    display: block;
    padding: 10px 0 0 0;
  }
}
