.Footer {
  height: 320px;
  color: #fff;
  background-color: #000;
  padding-top: 65px;
  font-size: 12px;
  @media (max-width: 1025px) {
    padding-left: 15px;
  }
}
.footerSubscribeTitle {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 25px;
  padding-top: 15px;
}
.FooterGrid {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .Footer {
    height: 740px;
    padding-top: 30px;
  }
  .FooterGrid {
    display: flex;
    flex-direction: column;
  }
  .FooterCopyrightText {
    padding-top: 15px;
  }
  .FooterCopyrightBefore {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .Footer {
    height: 550px;
    padding-top: 30px;
  } 
}
@media screen and (max-width: 1024px) {
  .FooterGrid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .Footer {
    min-height: auto;
  }
}
@media screen and (max-width: 480px) {
  label::after {
    right: 60px;
  }
  .form {
  margin-left: -30px;
  }
  .label {
    margin-left: -20px;
  }
}