.MoveToCartBlock {
  position: relative;
}
.MoveToCartItem {
  position: absolute;
  top: -100px;
  left: -580px;
  color: red;
  transition: 1.3s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: rotate(0deg) scale(3);
  z-index: 10000;
  @media (max-width: 1024px) {
    display: none;
  }
}
.MoveToCartItem_isOpen {
  top: -675px;
  left: 245px;
  transform: rotate(720deg) scale(0.5);
  opacity: 1;
  visibility: visible;
  img {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px green;
  }
}
.MoveToCartItem_isClose {
  transition: all 0s;
  opacity: 0;
  visibility: 0;
}
