.Wrapper {
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    display: block;
  }
}
.BlockLeft {
  @media (max-width: 1024px) {
    margin-right: 30px;
  }
  @media (max-width: 480px) {
    margin-right: 10px;
  }
}
.InStock {
  font-size: 16px;
  line-height: 16px;
  color: #51ad33;
  font-family: 'Roboto', sans-serif;
}
.Price {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  @media(max-width: 480px) {
    font-size: 24px;
  }
  span {
    font-size: 26px;
    line-height: 49px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
}
.ButtonBuy {
  margin-top: 20px;
  span {
    padding-right: 20px;
  }
}
.Delivery {
  margin-top: 39px;
  font-size: 16px;
  line-height: 29px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.DeliveryList {
  li {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
  }
}
